USE [DVS]
GO
/****** Object:  Table [dbo].[FIPS]    Script Date: 3/16/2026 4:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIPS](
	[cd_state] [nvarchar](20) NOT NULL,
	[cd_county] [nvarchar](100) NOT NULL,
	[id_state] [char](2) NOT NULL,
	[id_county] [char](3) NOT NULL,
 CONSTRAINT [PK_FIPS] PRIMARY KEY CLUSTERED 
(
	[id_state] ASC,
	[id_county] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FIPS+NCHS]    Script Date: 3/16/2026 4:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIPS+NCHS](
	[CD_COUNTY] [varchar](50) NULL,
	[CD_STATE] [varchar](50) NULL,
	[ID_FIPS] [float] NULL,
	[ID_NCHS_STATE] [char](2) NULL,
	[ID_NCHS_COUNTY] [char](3) NULL,
	[ID_NCHS] [char](5) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[natalityConf]    Script Date: 3/16/2026 4:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[natalityConf](
	[DT_YEAR] [smallint] NOT NULL,
	[ID_STATE] [char](2) NULL,
	[ID_AREA] [char](1) NULL,
	[ID_CERT] [char](6) NULL,
	[IN_RESIDENT] [char](1) NULL,
	[ID_RES_STATUS] [char](1) NULL,
	[ID_COUNTY_RES] [char](5) NULL,
	[ID_RESIDENCE] [char](10) NULL,
	[ID_OCCURENCE] [char](7) NULL,
	[ID_SEX] [char](1) NULL,
	[ID_ATTENDANT] [char](1) NULL,
	[ID_F_RACE] [char](1) NULL,
	[ID_M_RACE] [char](1) NULL,
	[ID_C_RACE] [char](1) NULL,
	[ID_C_RACE3] [char](1) NULL,
	[AM_M_AGE] [char](2) NULL,
	[AM_M_AGE36] [char](2) NULL,
	[AM_M_AGE15] [char](2) NULL,
	[AM_M_AGE12] [char](2) NULL,
	[AM_M_AGE8] [char](1) NULL,
	[AM_M_AGE7] [char](1) NULL,
	[AM_M_AGE6] [char](1) NULL,
	[AM_CHILDREN _BASL] [char](2) NULL,
	[AM_CHILDREN_BAND] [char](2) NULL,
	[AM_CHILDREN_BD] [char](2) NULL,
	[AM_TOT_B_ORDER] [char](2) NULL,
	[AM_TOT_B_ORDER9] [char](1) NULL,
	[AM_LIVE_B_ORDER] [char](2) NULL,
	[AM_LIVE_B_ORDER9] [char](1) NULL,
	[AM_LIVE_B_ORDER8] [char](1) NULL,
	[AM_LIVE_B_ORDER7] [char](1) NULL,
	[AM_LIVE_B_ORDER6] [char](1) NULL,
	[AM_LIVE_B_ORDER3] [char](1) NULL,
	[RESERVED] [char](1) NULL,
	[AM_F_AGE] [char](2) NULL,
	[AM_F_AGE11] [char](2) NULL,
	[AM_BIRTHWEIGHT] [char](4) NULL,
	[AM_BIRTHWEIGHT12] [char](2) NULL,
	[AM_BIRTHWEIGHT3] [char](1) NULL,
	[ID_DELIVERY_LOC] [char](1) NULL,
	[AM_PLURALITY] [char](1) NULL,
	[AM_PLURALITY3] [char](1) NULL,
	[AM_PLURALITY2] [char](1) NULL,
	[DT_BIRTH_MMDD] [char](4) NULL,
	[DT_LAST_MENSES] [char](5) NULL,
	[AM_GESTATION] [char](2) NULL,
	[AM_GESTATION10] [char](2) NULL,
	[AM_GESTATION3] [char](1) NULL,
	[ID_M_EDU] [char](2) NULL,
	[ID_M_EDU14] [char](2) NULL,
	[ID_M_EDU6] [char](1) NULL,
	[ID_F_EDU] [char](2) NULL,
	[ID_F_EDU14] [char](2) NULL,
	[IN_MARRIED] [char](1) NULL,
	[IN_MARRIED2] [char](1) NULL,
	[AM_PRENATAL] [char](1) NULL,
	[AM_PRENATAL10] [char](2) NULL,
	[AM_PRENATAL6] [char](1) NULL,
	[DT_LAST_LB_MM19YY] [char](4) NULL,
	[AM_POST_LAST_LB] [char](3) NULL,
	[AM_POST_LAST_LB17] [char](2) NULL,
	[AM_POST_LAST_LB10] [char](2) NULL,
	[AM_POST_LAST_LB8] [char](1) NULL,
	[DT_LAST_TERMIN] [char](4) NULL,
	[IN_LAST_TERMIN] [char](1) NULL,
	[AM_POST_LT] [char](3) NULL,
	[AM_POST_TLP] [char](3) NULL,
	[AM_POST_TLP9] [char](1) NULL,
	[ID_LAST_PREG] [char](1) NULL,
	[ID_M_BIRTHPLACE] [char](2) NULL,
	[AM_TOT_PRENATAL] [char](2) NULL,
	[IN_MALFORMATION] [char](1) NULL,
	[RESERVED2] [char](3) NULL,
	[IN_REPORT_FLAGS] [char](15) NULL,
	[IN_OCCUR_FLAGS] [char](12) NULL,
	[RESERVED3] [char](3) NULL,
	[ID_ATTENDANT_NCHS] [char](1) NULL,
	[AM_TERMINATION<20] [char](2) NULL,
	[AM_TERMINATION>20] [char](2) NULL,
	[AM_1MIN_APGAR] [char](2) NULL,
	[AM_1MIN_APGAR5] [char](1) NULL,
	[AM_5MIN_APGAR] [char](2) NULL,
	[AM_5MIN_APGAR5] [char](1) NULL,
	[ID_M_DESCENT] [char](2) NULL,
	[ID_F_DESCENT] [char](2) NULL,
	[IN_GEST_FLAG] [char](1) NULL,
	[ID_RES_REGION] [char](1) NULL,
	[ID_OCC_REGION] [char](1) NULL,
	[ID_FIPS_OCC] [char](14) NULL,
	[ID_WEIGHT_REC] [char](1) NULL,
	[AM_PRENATAL28] [char](2) NULL,
	[AM_PRENATAL12] [char](2) NULL,
	[RESERVED4] [char](1) NULL,
	[ID_STATE_OCC] [char](2) NULL,
	[AM_POST_FULL_CON] [smallint] NOT NULL,
	[AM_LUNAR_MONTH_CON] [smallint] NOT NULL,
	[DT_CONCEPTION] [date] NOT NULL,
	[AM_POST_FULL_DOB] [smallint] NOT NULL,
	[AM_LUNAR_MONTH_DOB] [smallint] NOT NULL,
	[DT_DOB] [date] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__natality__ConfMedian] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[DT_DOB] DESC,
	[AM_POST_FULL_DOB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RadiationDNICounty]    Script Date: 3/16/2026 4:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RadiationDNICounty](
	[County] [nvarchar](255) NULL,
	[State] [nvarchar](255) NULL,
	[County FIPS] [float] NULL,
	[Annual Average (kWh/m2/day)] [float] NULL,
	[Annual Average Minimum (kWh/m2/day)] [float] NULL,
	[Annual Average Maximum (kWh/m2/day)] [float] NULL,
	[Annual Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[Annual Average Median (kWh/m2/day)] [float] NULL,
	[January Average (kWh/m2/day)] [float] NULL,
	[January Average Minimum (kWh/m2/day)] [float] NULL,
	[January Average Maximum (kWh/m2/day)] [float] NULL,
	[January Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[January Average Median (kWh/m2/day)] [float] NULL,
	[February Average (kWh/m2/day)] [float] NULL,
	[February Average Minimum (kWh/m2/day)] [float] NULL,
	[February Average Maximum (kWh/m2/day)] [float] NULL,
	[February Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[February Average Median (kWh/m2/day)] [float] NULL,
	[March Average (kWh/m2/day)] [float] NULL,
	[March Average Minimum (kWh/m2/day)] [float] NULL,
	[March Average Maximum (kWh/m2/day)] [float] NULL,
	[March Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[March Average Median (kWh/m2/day)] [float] NULL,
	[April Average (kWh/m2/day)] [float] NULL,
	[April Average Minimum (kWh/m2/day)] [float] NULL,
	[April Average Maximum (kWh/m2/day)] [float] NULL,
	[April Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[April Average Median (kWh/m2/day)] [float] NULL,
	[May Average (kWh/m2/day)] [float] NULL,
	[May Average Minimum (kWh/m2/day)] [float] NULL,
	[May Average Maximum (kWh/m2/day)] [float] NULL,
	[May Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[May Average Median (kWh/m2/day)] [float] NULL,
	[June Average (kWh/m2/day)] [float] NULL,
	[June Average Minimum (kWh/m2/day)] [float] NULL,
	[June Average Maximum (kWh/m2/day)] [float] NULL,
	[June Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[June Average Median (kWh/m2/day)] [float] NULL,
	[July Average (kWh/m2/day)] [float] NULL,
	[July Average Minimum (kWh/m2/day)] [float] NULL,
	[July Average Maximum (kWh/m2/day)] [float] NULL,
	[July Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[July Average Median (kWh/m2/day)] [float] NULL,
	[August Average (kWh/m2/day)] [float] NULL,
	[August Average Minimum (kWh/m2/day)] [float] NULL,
	[August Average Maximum (kWh/m2/day)] [float] NULL,
	[August Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[August Average Median (kWh/m2/day)] [float] NULL,
	[September Average (kWh/m2/day)] [float] NULL,
	[September Average Minimum (kWh/m2/day)] [float] NULL,
	[September Average Maximum (kWh/m2/day)] [float] NULL,
	[September Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[September Average Median (kWh/m2/day)] [float] NULL,
	[October Average (kWh/m2/day)] [float] NULL,
	[October Average Minimum (kWh/m2/day)] [float] NULL,
	[October Average Maximum (kWh/m2/day)] [float] NULL,
	[October Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[October Average Median (kWh/m2/day)] [float] NULL,
	[November Average (kWh/m2/day)] [float] NULL,
	[November Average Minimum (kWh/m2/day)] [float] NULL,
	[November Average Maximum (kWh/m2/day)] [float] NULL,
	[November Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[November Average Median (kWh/m2/day)] [float] NULL,
	[December Average (kWh/m2/day)] [float] NULL,
	[December Average Minimum (kWh/m2/day)] [float] NULL,
	[December Average Maximum (kWh/m2/day)] [float] NULL,
	[December Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[December Average Median (kWh/m2/day)] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RadiationGHICounty]    Script Date: 3/16/2026 4:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RadiationGHICounty](
	[County] [nvarchar](255) NULL,
	[State] [nvarchar](255) NULL,
	[County FIPS] [float] NULL,
	[Annual Average (kWh/m2/day)] [float] NULL,
	[Annual Average Minimum (kWh/m2/day)] [float] NULL,
	[Annual Average Maximum (kWh/m2/day)] [float] NULL,
	[Annual Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[Annual Average Median (kWh/m2/day)] [float] NULL,
	[January Average (kWh/m2/day)] [float] NULL,
	[January Average Minimum (kWh/m2/day)] [float] NULL,
	[January Average Maximum (kWh/m2/day)] [float] NULL,
	[January Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[January Average Median (kWh/m2/day)] [float] NULL,
	[February Average (kWh/m2/day)] [float] NULL,
	[February Average Minimum (kWh/m2/day)] [float] NULL,
	[February Average Maximum (kWh/m2/day)] [float] NULL,
	[February Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[February Average Median (kWh/m2/day)] [float] NULL,
	[March Average (kWh/m2/day)] [float] NULL,
	[March Average Minimum (kWh/m2/day)] [float] NULL,
	[March Average Maximum (kWh/m2/day)] [float] NULL,
	[March Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[March Average Median (kWh/m2/day)] [float] NULL,
	[April Average (kWh/m2/day)] [float] NULL,
	[April Average Minimum (kWh/m2/day)] [float] NULL,
	[April Average Maximum (kWh/m2/day)] [float] NULL,
	[April Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[April Average Median (kWh/m2/day)] [float] NULL,
	[May Average (kWh/m2/day)] [float] NULL,
	[May Average Minimum (kWh/m2/day)] [float] NULL,
	[May Average Maximum (kWh/m2/day)] [float] NULL,
	[May Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[May Average Median (kWh/m2/day)] [float] NULL,
	[June Average (kWh/m2/day)] [float] NULL,
	[June Average Minimum (kWh/m2/day)] [float] NULL,
	[June Average Maximum (kWh/m2/day)] [float] NULL,
	[June Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[June Average Median (kWh/m2/day)] [float] NULL,
	[July Average (kWh/m2/day)] [float] NULL,
	[July Average Minimum (kWh/m2/day)] [float] NULL,
	[July Average Maximum (kWh/m2/day)] [float] NULL,
	[July Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[July Average Median (kWh/m2/day)] [float] NULL,
	[August Average (kWh/m2/day)] [float] NULL,
	[August Average Minimum (kWh/m2/day)] [float] NULL,
	[August Average Maximum (kWh/m2/day)] [float] NULL,
	[August Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[August Average Median (kWh/m2/day)] [float] NULL,
	[September Average (kWh/m2/day)] [float] NULL,
	[September Average Minimum (kWh/m2/day)] [float] NULL,
	[September Average Maximum (kWh/m2/day)] [float] NULL,
	[September Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[September Average Median (kWh/m2/day)] [float] NULL,
	[October Average (kWh/m2/day)] [float] NULL,
	[October Average Minimum (kWh/m2/day)] [float] NULL,
	[October Average Maximum (kWh/m2/day)] [float] NULL,
	[October Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[October Average Median (kWh/m2/day)] [float] NULL,
	[November Average (kWh/m2/day)] [float] NULL,
	[November Average Minimum (kWh/m2/day)] [float] NULL,
	[November Average Maximum (kWh/m2/day)] [float] NULL,
	[November Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[November Average Median (kWh/m2/day)] [float] NULL,
	[December Average (kWh/m2/day)] [float] NULL,
	[December Average Minimum (kWh/m2/day)] [float] NULL,
	[December Average Maximum (kWh/m2/day)] [float] NULL,
	[December Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[December Average Median (kWh/m2/day)] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RadiationLATILTCounty]    Script Date: 3/16/2026 4:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RadiationLATILTCounty](
	[County] [nvarchar](255) NULL,
	[State] [nvarchar](255) NULL,
	[County FIPS] [float] NULL,
	[Annual Average (kWh/m2/day)] [float] NULL,
	[Annual Average Minimum (kWh/m2/day)] [float] NULL,
	[Annual Average Maximum (kWh/m2/day)] [float] NULL,
	[Annual Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[Annual Average Median (kWh/m2/day)] [float] NULL,
	[January Average (kWh/m2/day)] [float] NULL,
	[January Average Minimum (kWh/m2/day)] [float] NULL,
	[January Average Maximum (kWh/m2/day)] [float] NULL,
	[January Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[January Average Median (kWh/m2/day)] [float] NULL,
	[February Average (kWh/m2/day)] [float] NULL,
	[February Average Minimum (kWh/m2/day)] [float] NULL,
	[February Average Maximum (kWh/m2/day)] [float] NULL,
	[February Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[February Average Median (kWh/m2/day)] [float] NULL,
	[March Average (kWh/m2/day)] [float] NULL,
	[March Average Minimum (kWh/m2/day)] [float] NULL,
	[March Average Maximum (kWh/m2/day)] [float] NULL,
	[March Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[March Average Median (kWh/m2/day)] [float] NULL,
	[April Average (kWh/m2/day)] [float] NULL,
	[April Average Minimum (kWh/m2/day)] [float] NULL,
	[April Average Maximum (kWh/m2/day)] [float] NULL,
	[April Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[April Average Median (kWh/m2/day)] [float] NULL,
	[May Average (kWh/m2/day)] [float] NULL,
	[May Average Minimum (kWh/m2/day)] [float] NULL,
	[May Average Maximum (kWh/m2/day)] [float] NULL,
	[May Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[May Average Median (kWh/m2/day)] [float] NULL,
	[June Average (kWh/m2/day)] [float] NULL,
	[June Average Minimum (kWh/m2/day)] [float] NULL,
	[June Average Maximum (kWh/m2/day)] [float] NULL,
	[June Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[June Average Median (kWh/m2/day)] [float] NULL,
	[July Average (kWh/m2/day)] [float] NULL,
	[July Average Minimum (kWh/m2/day)] [float] NULL,
	[July Average Maximum (kWh/m2/day)] [float] NULL,
	[July Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[July Average Median (kWh/m2/day)] [float] NULL,
	[August Average (kWh/m2/day)] [float] NULL,
	[August Average Minimum (kWh/m2/day)] [float] NULL,
	[August Average Maximum (kWh/m2/day)] [float] NULL,
	[August Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[August Average Median (kWh/m2/day)] [float] NULL,
	[September Average (kWh/m2/day)] [float] NULL,
	[September Average Minimum (kWh/m2/day)] [float] NULL,
	[September Average Maximum (kWh/m2/day)] [float] NULL,
	[September Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[September Average Median (kWh/m2/day)] [float] NULL,
	[October Average (kWh/m2/day)] [float] NULL,
	[October Average Minimum (kWh/m2/day)] [float] NULL,
	[October Average Maximum (kWh/m2/day)] [float] NULL,
	[October Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[October Average Median (kWh/m2/day)] [float] NULL,
	[November Average (kWh/m2/day)] [float] NULL,
	[November Average Minimum (kWh/m2/day)] [float] NULL,
	[November Average Maximum (kWh/m2/day)] [float] NULL,
	[November Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[November Average Median (kWh/m2/day)] [float] NULL,
	[December Average (kWh/m2/day)] [float] NULL,
	[December Average Minimum (kWh/m2/day)] [float] NULL,
	[December Average Maximum (kWh/m2/day)] [float] NULL,
	[December Average Standard Deviation (kWh/m2/day)] [float] NULL,
	[December Average Median (kWh/m2/day)] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sun]    Script Date: 3/16/2026 4:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sun](
	[CD_COUNTY] [varchar](50) NULL,
	[CD_STATE] [varchar](50) NULL,
	[ID_NCHS_STATE] [char](2) NULL,
	[ID_NCHS_COUNTY] [char](3) NULL,
	[CD_POSTAL_STATE] [nvarchar](255) NULL,
	[AM_COUNTY_FIPS] [float] NULL,
	[AM_GHI_Annual] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [db_datareader].[getRaceRatios]    Script Date: 3/16/2026 4:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Derek Onken
-- Create date: 7/22/16
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [db_datareader].[getRaceRatios]
	
AS
BEGIN

Select distinct a.[County FIPS], a.[GHIAnnual], c.white1R, c.white1percent, d.black2R, d.black2percent, e.amIndian3R, e.amIndian3percent,
				f.chinese4R, f.chinese4percent, g.japanese5R, g.japanese5percent, h.haw6R, h.haw6percent, i.othWhite7R, i.othWhite7percent,
				j.filipino8R, j.filipino8percent, k.otherAsian0R, k.otherAsian0percent, l.unknown9R, l.unknown9percent



from [dbo].[tempRaceTable] a

left join
(
SELECT [County FIPS], M/CAST(F as float) as "white1R", (M +F)/CAST(Total as float)  as "white1percent" from [dbo].[tempRaceTable] b where ID_M_RACE = 1 and F<>0 and Total<>0
) c
ON a.[County FIPS] = c.[County FIPS]

left join
(
SELECT [County FIPS], M/CAST(F as float) as black2R, (M +F)/CAST(Total as float)  as black2percent from [dbo].[tempRaceTable] b where ID_M_RACE = 2 and F<>0 and Total<>0
) d
ON a.[County FIPS] = d.[County FIPS]

left join
(
SELECT [County FIPS], M/CAST(F as float) as amIndian3R, (M +F)/CAST(Total as float)  as amIndian3percent from [dbo].[tempRaceTable] b where ID_M_RACE = 3 and F<>0 and Total<>0
) e
ON a.[County FIPS] = e.[County FIPS]

left join
(
SELECT [County FIPS], M/CAST(F as float) as chinese4R, (M +F)/CAST(Total as float)  as chinese4percent from [dbo].[tempRaceTable] b where ID_M_RACE = 4 and F<>0 and Total<>0
) f
ON a.[County FIPS] = f.[County FIPS]

left join
(
SELECT [County FIPS], M/CAST(F as float) as japanese5R, (M +F)/CAST(Total as float)  as japanese5percent from [dbo].[tempRaceTable] b where ID_M_RACE = 5 and F<>0 and Total<>0
) g
ON a.[County FIPS] = g.[County FIPS]

left join
(
SELECT [County FIPS], M/CAST(F as float) as haw6R, (M +F)/CAST(Total as float)  as haw6percent from [dbo].[tempRaceTable] b where ID_M_RACE = 6 and F<>0 and Total<>0
) h
ON a.[County FIPS] = h.[County FIPS]

left join
(
SELECT [County FIPS], M/CAST(F as float) as othWhite7R, (M +F)/CAST(Total as float)  as othWhite7percent from [dbo].[tempRaceTable] b where ID_M_RACE = 7 and F<>0 and Total<>0
) i
ON a.[County FIPS] = i.[County FIPS]

left join
(
SELECT [County FIPS], M/CAST(F as float) as filipino8R, (M +F)/CAST(Total as float)  as filipino8percent from [dbo].[tempRaceTable] b where ID_M_RACE = 8 and F<>0 and Total<>0
) j
ON a.[County FIPS] = j.[County FIPS]

left join
(
SELECT [County FIPS], M/CAST(F as float) as otherAsian0R, (M +F)/CAST(Total as float)  as otherAsian0percent from [dbo].[tempRaceTable] b where ID_M_RACE = 0 and F<>0 and Total<>0
) k
ON a.[County FIPS] = k.[County FIPS]

left join
(
SELECT [County FIPS], M/CAST(F as float) as unknown9R, (M +F)/CAST(Total as float)  as unknown9percent from [dbo].[tempRaceTable] b where ID_M_RACE = 9 and F<>0 and Total<>0
) l
ON a.[County FIPS] = l.[County FIPS]


ORDER BY a.[COUNTY FIPS]

END
GO
/****** Object:  StoredProcedure [db_datareader].[retrieveAverages]    Script Date: 3/16/2026 4:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Derek Onken	
-- Create date: 7/21/16
-- Description:	retrieve from the natalityConf database averages of the followibng variables by county:
--gestation length in weeks, father age, mother age, birthweight in grams, mother education, father education, month in pregnancy when prenatal care began,
--total birth order, GHI radiation, post-full for births, post-full for cinceptions, sex ratio R
-- =============================================
CREATE PROCEDURE [db_datareader].[retrieveAverages]
	
AS
BEGIN


SELECT countyFIPS, R, gestCount, gestAVG,fAgeCount,fAgeAVG, mAgeCount, mAgeAVG, weightCount, weightAVG,
		 mEduCount, mEduAVG, fEduCount, fEduAVG, prenatalCount, prenatalAVG, birthOrderCount, birthOrderAVG,
			postFullConCount, postFullConAVG, postFullBirthCount, postFullBirthAVG, radCount, radAVG


	FROM (Select [County FIPS] as "countyFIPS" , count(*) as "gestCount",AVG(CAST(AM_GESTATION AS float)) as "gestAVG" from natalityConf
			WHERE AM_GESTATION>=10 AND AM_GESTATION<=50
			GROUP BY [County FIPS]) a                                                        --Gestation Length        
	
FULL OUTER JOIN  

	(SELECT b.[County FIPS] , count (*) as "fAgeCount", AVG(CAST(b.[AM_F_AGE] AS float)) as "fAgeAVG"      ---father Age
		FROM (Select [County FIPS] , [AM_F_AGE]  FROM natalityConf
			WHERE AM_F_AGE < 99) b
			GROUP BY b.[County FIPS]
			) c
	ON (a.countyFIPS = c.[County FIPS] OR (a.countyFIPS is NULL AND c.[County FIPS] is NULL))

FULL OUTER JOIN  

	(SELECT b.[County FIPS] , count (*) as "mAgeCount", AVG(CAST(b.[AM_M_AGE] AS float)) as "mAgeAVG"    ---Mother Age
		FROM (Select [County FIPS] , [AM_M_AGE]  FROM natalityConf
			WHERE AM_M_AGE < 99) b
			GROUP BY b.[County FIPS]
			) d
	ON (a.countyFIPS = d.[County FIPS] OR (a.countyFIPS is NULL AND d.[County FIPS] is NULL))

FULL OUTER JOIN

	(SELECT b.[County FIPS] , count (*) as "weightCount", AVG(CAST(b.AM_BIRTHWEIGHT AS float)) as "weightAVG"    ---birthweight
		FROM (Select [County FIPS] , AM_BIRTHWEIGHT  FROM natalityConf
			WHERE AM_BIRTHWEIGHT < 9999) b
			GROUP BY b.[County FIPS]
			) e
	ON (a.countyFIPS = e.[County FIPS] OR (a.countyFIPS is NULL AND e.[County FIPS] is NULL))

FULL OUTER JOIN  

	(SELECT b.[County FIPS] , count (*) as "mEduCount", AVG(CAST(b.[ID_M_EDU14] AS float)) as "mEduAVG"    ---Mother Education
		FROM (Select [County FIPS] , [ID_M_EDU14]  FROM natalityConf
			WHERE ID_M_EDU14 >=1 AND ID_M_EDU14 <=13) b
			GROUP BY b.[County FIPS]
			) f
	ON (a.countyFIPS = f.[County FIPS] OR (a.countyFIPS is NULL AND f.[County FIPS] is NULL))

FULL OUTER JOIN  

	(SELECT b.[County FIPS] , count (*) as "fEduCount", AVG(CAST(b.[ID_F_EDU14] AS float)) as "fEduAVG"    ---Father Education
		FROM (Select [County FIPS] , [ID_F_EDU14]  FROM natalityConf
			WHERE ID_F_EDU14 >=1 AND ID_F_EDU14 <=13) b
			GROUP BY b.[County FIPS]
			) g
	ON (a.countyFIPS = g.[County FIPS] OR (a.countyFIPS is NULL AND g.[County FIPS] is NULL))

FULL OUTER JOIN  

	(SELECT b.[County FIPS] , count (*) as "prenatalCount", AVG(CAST(b.[AM_PRENATAL10] AS float)) as "prenatalAVG"    ---prenatal care
		FROM (Select [County FIPS] , [AM_PRENATAL10]  FROM natalityConf
			WHERE [AM_PRENATAL10] >=1 AND [AM_PRENATAL10] <=8) b
			GROUP BY b.[County FIPS]
			) h
	ON (a.countyFIPS = h.[County FIPS] OR (a.countyFIPS is NULL AND h.[County FIPS] is NULL))

FULL OUTER JOIN  

	(SELECT b.[County FIPS] , count (*) as "birthOrderCount", AVG(CAST(b.[AM_TOT_B_ORDER] AS float)) as "birthOrderAVG"    ---Birth Order
		FROM (Select [County FIPS] , [AM_TOT_B_ORDER]  FROM natalityConf
			WHERE [AM_TOT_B_ORDER] < 99 ) b
			GROUP BY b.[County FIPS]
			) i
	ON (a.countyFIPS = i.[County FIPS] OR (a.countyFIPS is NULL AND i.[County FIPS] is NULL))

FULL OUTER JOIN  

	(SELECT b.[County FIPS] , count (*) as "postFullConCount", AVG(CAST(b.[AM_POST_FULL_CON] AS float)) as "postFullConAVG"    ---post full conception
		FROM (Select [County FIPS] , [AM_POST_FULL_CON]  FROM natalityConf
			WHERE [AM_POST_FULL_CON] >=0 ) b
			GROUP BY b.[County FIPS]
			) j
	ON (a.countyFIPS = j.[County FIPS] OR (a.countyFIPS is NULL AND j.[County FIPS] is NULL))

FULL OUTER JOIN  

	(SELECT b.[County FIPS] , count (*) as "postFullBirthCount", AVG(CAST(b.[AM_POST_FULL_CON] AS float)) as "postFullBirthAVG"    ---post full birth
		FROM (Select [County FIPS] , [AM_POST_FULL_CON]  FROM natalityConf
			WHERE [AM_POST_FULL_CON] >=0 ) b
			GROUP BY b.[County FIPS]
			) k
	ON (a.countyFIPS = k.[County FIPS] OR (a.countyFIPS is NULL AND k.[County FIPS] is NULL))

FULL OUTER JOIN  

	(SELECT b.[County FIPS] , count (*) as "radCount", AVG(CAST(b.[GHIAnnual] AS float)) as "radAVG"    ---GHI Radiation
		FROM (Select [County FIPS] , [GHIAnnual]  FROM natalityConf
			WHERE [GHIAnnual] >=3 AND [GHIAnnual] <=6) b
			GROUP BY b.[County FIPS]
			) l
	ON (a.countyFIPS = l.[County FIPS] OR (a.countyFIPS is NULL AND l.[County FIPS] is NULL))

FULL OUTER JOIN																							---R (sex ratio)

	(
		SELECT x1.[County FIPS], male/CAST(female as float) as "R" from
			(SELECT [County FIPS], count(*) as "male"
			from natalityConf
			WHERE ID_SEX =1
			GROUP BY [County FIPS]) y1

		full outer join 

		(Select [County FIPS], count(*) as "female" from natalityConf 
			WHERE ID_SEX=2
			GROUP BY [County FIPS]) x1
			on x1.[County FIPS]  = y1.[County FIPS] OR (x1.[County FIPS] is NULL AND y1.[County FIPS] is NULL)
		GROUP BY x1.[County FIPS], male, female
		) m
	ON (a.countyFIPS = m.[County FIPS] OR (a.countyFIPS is NULL AND m.[County FIPS] is NULL))


GROUP BY countyFIPS,gestCount, gestAVG,fAgeCount,fAgeAVG, mAgeCount, mAgeAVG, weightCount, weightAVG,
		 mEduCount, mEduAVG, fEduCount, fEduAVG, prenatalCount, prenatalAVG, birthOrderCount, birthOrderAVG,
			postFullConCount, postFullConAVG, postFullBirthCount, postFullBirthAVG, radCount, radAVG, R
ORDER BY countyFIPS


END
GO
/****** Object:  StoredProcedure [dbo].[AddGaussianColumn]    Script Date: 3/16/2026 4:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Derek Onken
-- Create date: 9/13/16
-- Description:	create a new column and populate the column
--				with random numbers from a normal distribution with mean 0 and std 1
--				takes ~12-13 minutes to run
-- =============================================
CREATE PROCEDURE [dbo].[AddGaussianColumn]
AS 
BEGIN
	alter table [dbo].[natalityConf]
	add AM_GAUSSIAN decimal null 

	UPDATE natalityConf
	SET AM_GAUSSIAN = CAST(SQRT(-2*LOG(RAND(CHECKSUM(NEWID()))))*SIN(2*PI()*RAND(CHECKSUM(NEWID())))as decimal(5,4)) 
	from natalityConf
--http://stackoverflow.com/questions/10611737/how-to-generate-numbers-with-a-normal-distribution-in-sql-server

--

--check it:

		select count(*) as [Count],
		min(AM_GAUSSIAN) as [MIN],
		max(AM_GAUSSIAN) as [Max],
		avg(AM_GAUSSIAN) as [Mean],
		stdev(AM_GAUSSIAN) as [std]
		from natalityConf






--TEST

--IF OBJECT_ID('dbo.testGaussian', 'U') IS NOT NULL 
--  DROP TABLE dbo.testGaussian; 
--create table [dbo].[testGaussian](
--	ID int IDENTITY(1,1) PRIMARY KEY,
--	[AM_GAUSSIAN] [float] NULL
--) ON [PRIMARY]


--declare @i int
--select @i = 1
--WHILE (@i < 100000)
--begin
--	insert into testGaussian (AM_GAUSSIAN) values (@i)
--	select @i = @i + 1;
--end

--	UPDATE testGaussian
--	SET AM_GAUSSIAN = CAST(SQRT(-2*LOG(RAND(CHECKSUM(NEWID()))))*SIN(2*PI()*RAND(CHECKSUM(NEWID())))as decimal(5,4)) 
--	from testGaussian


END

GO
/****** Object:  StoredProcedure [dbo].[AddIDandIndex]    Script Date: 3/16/2026 4:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Derek Onken (donken@uga.edu), Juan B. Gutierrez (jgutierr@uga.edu)
-- Create date: <7/1/15>
-- Description:	Adds an ID column and indexes to the NatalityConf table.
-- Example: exec AddIDandIndex
-- =============================================
CREATE PROCEDURE [dbo].[AddIDandIndex] 
AS
BEGIN

	alter table natalityConf
	add id int not null identity(1,1)
	

	/****** nonclustered index using date of conception ******/
	CREATE NONCLUSTERED INDEX [_dt_conception_index_natalityConf] ON [dbo].[natalityConf]
	(
		[DT_CONCEPTION] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	

	/****** clustered index using id, date of birth, post-full value of date of birth******/
	ALTER TABLE [dbo].[natalityConf] ADD  CONSTRAINT [PK__natality__Conf] PRIMARY KEY CLUSTERED 
	(
		[id] ASC,
		[DT_DOB] DESC,
		[AM_POST_FULL_DOB] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	
	
	/****** Object:  nonclustered index using post full vale of conception******/
	CREATE NONCLUSTERED INDEX [postfull_natalityConf] ON [dbo].[natalityConf]
	(
		[AM_POST_FULL_CON] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	

	/****** Object:  nonclustered index using residence ******/
	CREATE NONCLUSTERED INDEX [residence_natalityConf] ON [dbo].[natalityConf]
	(
		[ID_RESIDENCE] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	
	/****** Object:  nonclustered index using sex ******/
	CREATE NONCLUSTERED INDEX [sex_natalityConf] ON [dbo].[natalityConf]
	(
		[ID_SEX] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	
	/****** Object:  nonclustered index for GetSQLBirthPostFull() ******/
	CREATE NONCLUSTERED INDEX [birthPostFull_natalityConf]
	ON [dbo].[natalityConf] ([ID_SEX],[IN_MALFORMATION],[AM_POST_FULL_DOB],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_DOB])

	/****** Object:  nonclustered index for GetSQLConceptionPostFull() ******/
	CREATE NONCLUSTERED INDEX [conPostFull_natalityConf]
	ON [dbo].[natalityConf] ([ID_SEX],[IN_MALFORMATION],[AM_POST_FULL_CON],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_DOB])

	/****** Object:  nonclustered index for GetSQLConceptionPostFull() ******/
	CREATE NONCLUSTERED INDEX [<conPostFull2_natalityConf>]
	ON [dbo].[natalityConf] ([ID_SEX],[IN_MALFORMATION],[AM_POST_FULL_CON],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_CON])
	
	/****** Object:  nonclustered index for GetSQLConceptionPerDay() ******/
	CREATE NONCLUSTERED INDEX [<conPerDay_natalityConf>]
	ON [dbo].[natalityConf] ([ID_SEX],[ID_F_RACE],[ID_M_RACE],[IN_MALFORMATION],[AM_PLURALITY],[AM_GESTATION],[AM_POST_FULL_CON])
	INCLUDE ([ID_RESIDENCE],[DT_CONCEPTION])

	/****** Object:  nonclustered index for GetSQLBirthPostFull() ******/
	CREATE NONCLUSTERED INDEX [GetSQLBirthPostFull]
	ON [dbo].[natalityConf] ([ID_SEX],[ID_F_RACE],[ID_M_RACE],[IN_MALFORMATION],[AM_POST_FULL_DOB],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_DOB])
	INCLUDE ([ID_RESIDENCE])

	/****** Object:  nonclustered index for GetSQLConceptionPostFull() ******/
	CREATE NONCLUSTERED INDEX [GetSQLConceptionPostFull]
	ON [dbo].[natalityConf] ([ID_SEX],[ID_F_RACE],[ID_M_RACE],[IN_MALFORMATION],[AM_POST_FULL_CON],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_CON])
	INCLUDE ([ID_RESIDENCE])

	/****** Object:  nonclustered index for GetSQLConceptionPostFull() filtering by mother age and gestation ******/
	CREATE NONCLUSTERED INDEX [GetSQLConceptionPostFull_motherAge_Gestation]
	ON [dbo].[natalityConf] ([ID_SEX],[IN_MALFORMATION],[AM_POST_FULL_CON],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_CON],[AM_LUNAR_MONTH_DOB])
	INCLUDE ([AM_M_AGE])

	/****** Object:  nonclustered index for GetSQLBirthPostFull() filtering by mother age and gestation ******/
	CREATE NONCLUSTERED INDEX [GetSQLBirthPostFull_motherAge_Gestation]
	ON [dbo].[natalityConf] ([ID_SEX],[IN_MALFORMATION],[AM_POST_FULL_DOB],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_CON],[AM_LUNAR_MONTH_DOB])
	INCLUDE ([AM_M_AGE])

END

GO
/****** Object:  StoredProcedure [dbo].[AddIDandIndexAll]    Script Date: 3/16/2026 4:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Derek Onken (donken@uga.edu), Juan B. Gutierrez (jgutierr@uga.edu)
-- Create date: <7/1/15>
-- Description:	Adds an ID column and indexes to the NatalityConf table. [appends the name All to distinguish the different tables.]
-- Example: exec AddIDandIndex
-- =============================================
CREATE PROCEDURE [dbo].[AddIDandIndexAll] 
AS
BEGIN

	alter table natalityConf
	add id int not null identity(1,1)
	

	/****** nonclustered index using date of conception ******/
	CREATE NONCLUSTERED INDEX [_dt_conception_index_natalityConfAll] ON [dbo].[natalityConf]
	(
		[DT_CONCEPTION] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	

	/****** clustered index using id, date of birth, post-full value of date of birth******/
	ALTER TABLE [dbo].[natalityConf] ADD  CONSTRAINT [PK__natality__ConfAll] PRIMARY KEY CLUSTERED 
	(
		[id] ASC,
		[DT_DOB] DESC,
		[AM_POST_FULL_DOB] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	
	
	/****** Object:  nonclustered index using post full vale of conception******/
	CREATE NONCLUSTERED INDEX [postfull_natalityConfAll] ON [dbo].[natalityConf]
	(
		[AM_POST_FULL_CON] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	

	/****** Object:  nonclustered index using residence ******/
	CREATE NONCLUSTERED INDEX [residence_natalityConfAll] ON [dbo].[natalityConf]
	(
		[ID_RESIDENCE] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	
	/****** Object:  nonclustered index using sex ******/
	CREATE NONCLUSTERED INDEX [sex_natalityConfAll] ON [dbo].[natalityConf]
	(
		[ID_SEX] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	
	/****** Object:  nonclustered index for GetSQLBirthPostFull() ******/
	CREATE NONCLUSTERED INDEX [birthPostFull_natalityConfAll]
	ON [dbo].[natalityConf] ([ID_SEX],[IN_MALFORMATION],[AM_POST_FULL_DOB],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_DOB])

	/****** Object:  nonclustered index for GetSQLConceptionPostFull() ******/
	CREATE NONCLUSTERED INDEX [conPostFull_natalityConfAll]
	ON [dbo].[natalityConf] ([ID_SEX],[IN_MALFORMATION],[AM_POST_FULL_CON],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_DOB])

	/****** Object:  nonclustered index for GetSQLConceptionPostFull() ******/
	CREATE NONCLUSTERED INDEX [<conPostFull2_natalityConfAll>]
	ON [dbo].[natalityConf] ([ID_SEX],[IN_MALFORMATION],[AM_POST_FULL_CON],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_CON])
	
	/****** Object:  nonclustered index for GetSQLConceptionPerDay() ******/
	CREATE NONCLUSTERED INDEX [<conPerDay_natalityConfAll>]
	ON [dbo].[natalityConf] ([ID_SEX],[ID_F_RACE],[ID_M_RACE],[IN_MALFORMATION],[AM_PLURALITY],[AM_GESTATION],[AM_POST_FULL_CON])
	INCLUDE ([ID_RESIDENCE],[DT_CONCEPTION])

	/****** Object:  nonclustered index for GetSQLBirthPostFull() ******/
	CREATE NONCLUSTERED INDEX [GetSQLBirthPostFullAll]
	ON [dbo].[natalityConf] ([ID_SEX],[ID_F_RACE],[ID_M_RACE],[IN_MALFORMATION],[AM_POST_FULL_DOB],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_DOB])
	INCLUDE ([ID_RESIDENCE])

	/****** Object:  nonclustered index for GetSQLConceptionPostFull() ******/
	CREATE NONCLUSTERED INDEX [GetSQLConceptionPostFullAll]
	ON [dbo].[natalityConf] ([ID_SEX],[ID_F_RACE],[ID_M_RACE],[IN_MALFORMATION],[AM_POST_FULL_CON],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_CON])
	INCLUDE ([ID_RESIDENCE])

	/****** Object:  nonclustered index for GetSQLConceptionPostFull() filtering by mother age and gestation ******/
	CREATE NONCLUSTERED INDEX [GetSQLConceptionPostFull_motherAge_GestationAll]
	ON [dbo].[natalityConf] ([ID_SEX],[IN_MALFORMATION],[AM_POST_FULL_CON],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_CON],[AM_LUNAR_MONTH_DOB])
	INCLUDE ([AM_M_AGE])

	/****** Object:  nonclustered index for GetSQLBirthPostFull() filtering by mother age and gestation ******/
	CREATE NONCLUSTERED INDEX [GetSQLBirthPostFull_motherAge_GestationAll]
	ON [dbo].[natalityConf] ([ID_SEX],[IN_MALFORMATION],[AM_POST_FULL_DOB],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_CON],[AM_LUNAR_MONTH_DOB])
	INCLUDE ([AM_M_AGE])

END

GO
/****** Object:  StoredProcedure [dbo].[AddIDandIndexMean]    Script Date: 3/16/2026 4:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Derek Onken (donken@uga.edu), Juan B. Gutierrez (jgutierr@uga.edu)
-- Create date: <7/1/15>
-- Description:	Adds an ID column and indexes to the NatalityConf table. [appends the name Mean to distinguish the different tables.]
-- Example: exec AddIDandIndex
-- =============================================
CREATE PROCEDURE [dbo].[AddIDandIndexMean] 
AS
BEGIN

	alter table natalityConf
	add id int not null identity(1,1)
	

	/****** nonclustered index using date of conception ******/
	CREATE NONCLUSTERED INDEX [_dt_conception_index_natalityConfMean] ON [dbo].[natalityConf]
	(
		[DT_CONCEPTION] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	

	/****** clustered index using id, date of birth, post-full value of date of birth******/
	ALTER TABLE [dbo].[natalityConf] ADD  CONSTRAINT [PK__natality__ConfMean] PRIMARY KEY CLUSTERED 
	(
		[id] ASC,
		[DT_DOB] DESC,
		[AM_POST_FULL_DOB] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	
	
	/****** Object:  nonclustered index using post full vale of conception******/
	CREATE NONCLUSTERED INDEX [postfull_natalityConfMean] ON [dbo].[natalityConf]
	(
		[AM_POST_FULL_CON] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	

	/****** Object:  nonclustered index using residence ******/
	CREATE NONCLUSTERED INDEX [residence_natalityConfMean] ON [dbo].[natalityConf]
	(
		[ID_RESIDENCE] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	
	/****** Object:  nonclustered index using sex ******/
	CREATE NONCLUSTERED INDEX [sex_natalityConfMean] ON [dbo].[natalityConf]
	(
		[ID_SEX] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	
	/****** Object:  nonclustered index for GetSQLBirthPostFull() ******/
	CREATE NONCLUSTERED INDEX [birthPostFull_natalityConfMean]
	ON [dbo].[natalityConf] ([ID_SEX],[IN_MALFORMATION],[AM_POST_FULL_DOB],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_DOB])

	/****** Object:  nonclustered index for GetSQLConceptionPostFull() ******/
	CREATE NONCLUSTERED INDEX [conPostFull_natalityConfMean]
	ON [dbo].[natalityConf] ([ID_SEX],[IN_MALFORMATION],[AM_POST_FULL_CON],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_DOB])

	/****** Object:  nonclustered index for GetSQLConceptionPostFull() ******/
	CREATE NONCLUSTERED INDEX [<conPostFull2_natalityConfMean>]
	ON [dbo].[natalityConf] ([ID_SEX],[IN_MALFORMATION],[AM_POST_FULL_CON],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_CON])
	
	/****** Object:  nonclustered index for GetSQLConceptionPerDay() ******/
	CREATE NONCLUSTERED INDEX [<conPerDay_natalityConfMean>]
	ON [dbo].[natalityConf] ([ID_SEX],[ID_F_RACE],[ID_M_RACE],[IN_MALFORMATION],[AM_PLURALITY],[AM_GESTATION],[AM_POST_FULL_CON])
	INCLUDE ([ID_RESIDENCE],[DT_CONCEPTION])

	/****** Object:  nonclustered index for GetSQLBirthPostFull() ******/
	CREATE NONCLUSTERED INDEX [GetSQLBirthPostFullMean]
	ON [dbo].[natalityConf] ([ID_SEX],[ID_F_RACE],[ID_M_RACE],[IN_MALFORMATION],[AM_POST_FULL_DOB],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_DOB])
	INCLUDE ([ID_RESIDENCE])

	/****** Object:  nonclustered index for GetSQLConceptionPostFull() ******/
	CREATE NONCLUSTERED INDEX [GetSQLConceptionPostFullMean]
	ON [dbo].[natalityConf] ([ID_SEX],[ID_F_RACE],[ID_M_RACE],[IN_MALFORMATION],[AM_POST_FULL_CON],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_CON])
	INCLUDE ([ID_RESIDENCE])

	/****** Object:  nonclustered index for GetSQLConceptionPostFull() filtering by mother age and gestation ******/
	CREATE NONCLUSTERED INDEX [GetSQLConceptionPostFull_motherAge_GestationMean]
	ON [dbo].[natalityConf] ([ID_SEX],[IN_MALFORMATION],[AM_POST_FULL_CON],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_CON],[AM_LUNAR_MONTH_DOB])
	INCLUDE ([AM_M_AGE])

	/****** Object:  nonclustered index for GetSQLBirthPostFull() filtering by mother age and gestation ******/
	CREATE NONCLUSTERED INDEX [GetSQLBirthPostFull_motherAge_GestationMean]
	ON [dbo].[natalityConf] ([ID_SEX],[IN_MALFORMATION],[AM_POST_FULL_DOB],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_CON],[AM_LUNAR_MONTH_DOB])
	INCLUDE ([AM_M_AGE])

END

GO
/****** Object:  StoredProcedure [dbo].[AddIDandIndexMedian]    Script Date: 3/16/2026 4:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Derek Onken (donken@uga.edu), Juan B. Gutierrez (jgutierr@uga.edu)
-- Create date: <7/1/15>
-- Description:	Adds an ID column and indexes to the NatalityConf table. [appends the name Median to distinguish the different tables.]
-- Example: exec AddIDandIndex
-- =============================================
CREATE PROCEDURE [dbo].[AddIDandIndexMedian] 
AS
BEGIN

	alter table natalityConf
	add id int not null identity(1,1)
	

	/****** nonclustered index using date of conception ******/
	CREATE NONCLUSTERED INDEX [_dt_conception_index_natalityConfMedian] ON [dbo].[natalityConf]
	(
		[DT_CONCEPTION] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	

	/****** clustered index using id, date of birth, post-full value of date of birth******/
	ALTER TABLE [dbo].[natalityConf] ADD  CONSTRAINT [PK__natality__ConfMedian] PRIMARY KEY CLUSTERED 
	(
		[id] ASC,
		[DT_DOB] DESC,
		[AM_POST_FULL_DOB] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	
	
	/****** Object:  nonclustered index using post full vale of conception******/
	CREATE NONCLUSTERED INDEX [postfull_natalityConfMedian] ON [dbo].[natalityConf]
	(
		[AM_POST_FULL_CON] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	

	/****** Object:  nonclustered index using residence ******/
	CREATE NONCLUSTERED INDEX [residence_natalityConfMedian] ON [dbo].[natalityConf]
	(
		[ID_RESIDENCE] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	
	/****** Object:  nonclustered index using sex ******/
	CREATE NONCLUSTERED INDEX [sex_natalityConfMedian] ON [dbo].[natalityConf]
	(
		[ID_SEX] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	
	/****** Object:  nonclustered index for GetSQLBirthPostFull() ******/
	CREATE NONCLUSTERED INDEX [birthPostFull_natalityConfMedian]
	ON [dbo].[natalityConf] ([ID_SEX],[IN_MALFORMATION],[AM_POST_FULL_DOB],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_DOB])

	/****** Object:  nonclustered index for GetSQLConceptionPostFull() ******/
	CREATE NONCLUSTERED INDEX [conPostFull_natalityConfMedian]
	ON [dbo].[natalityConf] ([ID_SEX],[IN_MALFORMATION],[AM_POST_FULL_CON],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_DOB])

	/****** Object:  nonclustered index for GetSQLConceptionPostFull() ******/
	CREATE NONCLUSTERED INDEX [<conPostFull2_natalityConfMedian>]
	ON [dbo].[natalityConf] ([ID_SEX],[IN_MALFORMATION],[AM_POST_FULL_CON],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_CON])
	
	/****** Object:  nonclustered index for GetSQLConceptionPerDay() ******/
	CREATE NONCLUSTERED INDEX [<conPerDay_natalityConfMedian>]
	ON [dbo].[natalityConf] ([ID_SEX],[ID_F_RACE],[ID_M_RACE],[IN_MALFORMATION],[AM_PLURALITY],[AM_GESTATION],[AM_POST_FULL_CON])
	INCLUDE ([ID_RESIDENCE],[DT_CONCEPTION])

	/****** Object:  nonclustered index for GetSQLBirthPostFull() ******/
	CREATE NONCLUSTERED INDEX [GetSQLBirthPostFullMedian]
	ON [dbo].[natalityConf] ([ID_SEX],[ID_F_RACE],[ID_M_RACE],[IN_MALFORMATION],[AM_POST_FULL_DOB],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_DOB])
	INCLUDE ([ID_RESIDENCE])

	/****** Object:  nonclustered index for GetSQLConceptionPostFull() ******/
	CREATE NONCLUSTERED INDEX [GetSQLConceptionPostFullMedian]
	ON [dbo].[natalityConf] ([ID_SEX],[ID_F_RACE],[ID_M_RACE],[IN_MALFORMATION],[AM_POST_FULL_CON],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_CON])
	INCLUDE ([ID_RESIDENCE])

	/****** Object:  nonclustered index for GetSQLConceptionPostFull() filtering by mother age and gestation ******/
	CREATE NONCLUSTERED INDEX [GetSQLConceptionPostFull_motherAge_GestationMedian]
	ON [dbo].[natalityConf] ([ID_SEX],[IN_MALFORMATION],[AM_POST_FULL_CON],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_CON],[AM_LUNAR_MONTH_DOB])
	INCLUDE ([AM_M_AGE])

	/****** Object:  nonclustered index for GetSQLBirthPostFull() filtering by mother age and gestation ******/
	CREATE NONCLUSTERED INDEX [GetSQLBirthPostFull_motherAge_GestationMedian]
	ON [dbo].[natalityConf] ([ID_SEX],[IN_MALFORMATION],[AM_POST_FULL_DOB],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_CON],[AM_LUNAR_MONTH_DOB])
	INCLUDE ([AM_M_AGE])

END

GO
/****** Object:  StoredProcedure [dbo].[AddIDandIndexMode]    Script Date: 3/16/2026 4:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Derek Onken (donken@uga.edu), Juan B. Gutierrez (jgutierr@uga.edu)
-- Create date: <7/1/15>
-- Description:	Adds an ID column and indexes to the NatalityConf table. [appends the name Mode to distinguish the different tables.]
-- Example: exec AddIDandIndex
-- =============================================
CREATE PROCEDURE [dbo].[AddIDandIndexMode] 
AS
BEGIN

	alter table natalityConf
	add id int not null identity(1,1)
	

	/****** nonclustered index using date of conception ******/
	CREATE NONCLUSTERED INDEX [_dt_conception_index_natalityConfMode] ON [dbo].[natalityConf]
	(
		[DT_CONCEPTION] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	

	/****** clustered index using id, date of birth, post-full value of date of birth******/
	ALTER TABLE [dbo].[natalityConf] ADD  CONSTRAINT [PK__natality__ConfMode] PRIMARY KEY CLUSTERED 
	(
		[id] ASC,
		[DT_DOB] DESC,
		[AM_POST_FULL_DOB] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	
	
	/****** Object:  nonclustered index using post full vale of conception******/
	CREATE NONCLUSTERED INDEX [postfull_natalityConfMode] ON [dbo].[natalityConf]
	(
		[AM_POST_FULL_CON] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	

	/****** Object:  nonclustered index using residence ******/
	CREATE NONCLUSTERED INDEX [residence_natalityConfMode] ON [dbo].[natalityConf]
	(
		[ID_RESIDENCE] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	
	/****** Object:  nonclustered index using sex ******/
	CREATE NONCLUSTERED INDEX [sex_natalityConfMode] ON [dbo].[natalityConf]
	(
		[ID_SEX] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	
	/****** Object:  nonclustered index for GetSQLBirthPostFull() ******/
	CREATE NONCLUSTERED INDEX [birthPostFull_natalityConfMode]
	ON [dbo].[natalityConf] ([ID_SEX],[IN_MALFORMATION],[AM_POST_FULL_DOB],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_DOB])

	/****** Object:  nonclustered index for GetSQLConceptionPostFull() ******/
	CREATE NONCLUSTERED INDEX [conPostFull_natalityConfMode]
	ON [dbo].[natalityConf] ([ID_SEX],[IN_MALFORMATION],[AM_POST_FULL_CON],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_DOB])

	/****** Object:  nonclustered index for GetSQLConceptionPostFull() ******/
	CREATE NONCLUSTERED INDEX [<conPostFull2_natalityConfMode>]
	ON [dbo].[natalityConf] ([ID_SEX],[IN_MALFORMATION],[AM_POST_FULL_CON],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_CON])
	
	/****** Object:  nonclustered index for GetSQLConceptionPerDay() ******/
	CREATE NONCLUSTERED INDEX [<conPerDay_natalityConfMode>]
	ON [dbo].[natalityConf] ([ID_SEX],[ID_F_RACE],[ID_M_RACE],[IN_MALFORMATION],[AM_PLURALITY],[AM_GESTATION],[AM_POST_FULL_CON])
	INCLUDE ([ID_RESIDENCE],[DT_CONCEPTION])

	/****** Object:  nonclustered index for GetSQLBirthPostFull() ******/
	CREATE NONCLUSTERED INDEX [GetSQLBirthPostFullMode]
	ON [dbo].[natalityConf] ([ID_SEX],[ID_F_RACE],[ID_M_RACE],[IN_MALFORMATION],[AM_POST_FULL_DOB],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_DOB])
	INCLUDE ([ID_RESIDENCE])

	/****** Object:  nonclustered index for GetSQLConceptionPostFull() ******/
	CREATE NONCLUSTERED INDEX [GetSQLConceptionPostFullMode]
	ON [dbo].[natalityConf] ([ID_SEX],[ID_F_RACE],[ID_M_RACE],[IN_MALFORMATION],[AM_POST_FULL_CON],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_CON])
	INCLUDE ([ID_RESIDENCE])

	/****** Object:  nonclustered index for GetSQLConceptionPostFull() filtering by mother age and gestation ******/
	CREATE NONCLUSTERED INDEX [GetSQLConceptionPostFull_motherAge_GestationMode]
	ON [dbo].[natalityConf] ([ID_SEX],[IN_MALFORMATION],[AM_POST_FULL_CON],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_CON],[AM_LUNAR_MONTH_DOB])
	INCLUDE ([AM_M_AGE])

	/****** Object:  nonclustered index for GetSQLBirthPostFull() filtering by mother age and gestation ******/
	CREATE NONCLUSTERED INDEX [GetSQLBirthPostFull_motherAge_GestationMode]
	ON [dbo].[natalityConf] ([ID_SEX],[IN_MALFORMATION],[AM_POST_FULL_DOB],[AM_PLURALITY],[AM_GESTATION],[AM_LUNAR_MONTH_CON],[AM_LUNAR_MONTH_DOB])
	INCLUDE ([AM_M_AGE])

END

GO
/****** Object:  StoredProcedure [dbo].[DetectErroneousDates]    Script Date: 3/16/2026 4:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Derek Onken(donken@uga.edu)
-- Create date: 6/22/15
-- Description:	Alters natalityConf so that incorrect date values are replaced by error codes.
-- =============================================
create PROCEDURE [dbo].[DetectErroneousDates] 
	
AS

	UPDATE  natalityConf 
		set DT_DOB = '1753-01-01', 
		DT_CONCEPTION = '1753-01-01',
		AM_POST_FULL_CON = -100,
		AM_LUNAR_MONTH_CON = -1
		FROM natalityConf

	WHERE Substring(DT_BIRTH_MMDD,3,2 ) = '99'
	 OR Substring(DT_BIRTH_MMDD,1,2 ) = '99'
	 OR (DT_BIRTH_MMDD = '0230') 
	 OR (DT_BIRTH_MMDD = '0231')
	 OR (DT_BIRTH_MMDD = '1131') 
	 OR (DT_BIRTH_MMDD = '0931')
	 OR (DT_BIRTH_MMDD = '0631')
	 OR (DT_BIRTH_MMDD = '0431')
	 OR (DT_BIRTH_MMDD = '0229' AND DT_YEAR%4 <> 0 )



	ALTER TABLE natalityConf
	ALTER COLUMN DT_DOB date not null

GO
/****** Object:  StoredProcedure [dbo].[DetectErroneousDatesMean]    Script Date: 3/16/2026 4:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Derek Onken(donken@uga.edu)
-- Create date: 5/22/17
-- Description:	Alters natalityConfMean so that incorrect date values are replaced by error codes.
-- =============================================
CREATE PROCEDURE [dbo].[DetectErroneousDatesMean] 
	
AS

	UPDATE  natalityConfMean 
		set DT_DOB = '1753-01-01', 
		DT_CONCEPTION = '1753-01-01',
		AM_POST_FULL_CON = -100,
		AM_LUNAR_MONTH_CON = -1
		FROM natalityConfMean

	WHERE Substring(DT_BIRTH_MMDD,3,2 ) = '99'
	 OR Substring(DT_BIRTH_MMDD,1,2 ) = '99'
	 OR (DT_BIRTH_MMDD = '0230') 
	 OR (DT_BIRTH_MMDD = '0231')
	 OR (DT_BIRTH_MMDD = '1131') 
	 OR (DT_BIRTH_MMDD = '0931')
	 OR (DT_BIRTH_MMDD = '0631')
	 OR (DT_BIRTH_MMDD = '0431')
	 OR (DT_BIRTH_MMDD = '0229' AND DT_YEAR%4 <> 0 )



	ALTER TABLE natalityConfMean
	ALTER COLUMN DT_DOB date not null

GO
/****** Object:  StoredProcedure [dbo].[RetrieveBirthPerDay]    Script Date: 3/16/2026 4:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Derek Onken (donken@uga.edu), Juan B Gutierrez (jgutierr@uga.edu)
-- Create date: 7/3/2015
-- Description:	Returns number of full term births per day
-- Example:		exec RetrieveBirthPerDay  1
-- =============================================
CREATE PROCEDURE [dbo].[RetrieveBirthPerDay]
	@sex int 
AS
BEGIN
	select	DT_DOB, count (*) 
	from	[dbo].[natalityConf] 
	where	[IN_MALFORMATION] = '0'		
			and ID_SEX = @sex 
			and AM_POST_FULL_CON >= 0
			and (AM_PLURALITY = '1' OR AM_PLURALITY = ' ' ) 
			--and [ID_F_RACE] = '1'
			--and [ID_M_RACE] = '1'
			--and am_f_age in ('20', '21', '22', '23', '24', '25', '26', '27', '28', '29')
			--and am_m_age in ('20', '21', '22', '23', '24', '25', '26', '27', '28', '29')
			--and am_gestation in ('30','31','32','33','34','35','36','37','38','39','40')
	group by DT_DOB 
	order by DT_DOB
END
GO
/****** Object:  StoredProcedure [dbo].[RetrieveBirthPostFull]    Script Date: 3/16/2026 4:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Derek Onken (donken@uga.edu)
-- Create date: <6/25/15>
-- Description:	<User enters number of days after full moon and sex.
--				 Procedure returns the number of births per lunar month
--				 that have the entered sex and days post full.  Organized by
--				 lunar month.>
-- Example: exec [RetrieveBirthPostFull] 0,1
-- =============================================
CREATE PROCEDURE [dbo].[RetrieveBirthPostFull] 
	-- the parameters for the stored procedure
	@DAY as integer,
	@SEX as integer
AS


	select	[AM_LUNAR_MONTH_DOB] AS 'LUNAR MONTH', 
			@SEX AS 'GENDER',  
			[AM_POST_FULL_DOB], 
			count (*) as 'COUNT'
	from	[dbo].[natalityConf] 
	where	[IN_MALFORMATION] = '0' 
			and (AM_PLURALITY = '1' OR AM_PLURALITY = ' ' )
			and AM_LUNAR_MONTH_CON > 0 --just term pregnancies
			and AM_POST_FULL_DOB = @DAY
			and ID_SEX = @SEX
			--and [ID_F_RACE] = '1'
			--and [ID_M_RACE] = '1'
			--and am_f_age in ('20', '21', '22', '23', '24', '25', '26', '27', '28', '29')
			--and am_m_age in ('20', '21', '22', '23', '24', '25', '26', '27', '28', '29')
			and am_gestation in ('30','31','32','33','34','35','36','37','38','39','40')
	group by [AM_POST_FULL_DOB] , [AM_LUNAR_MONTH_DOB]
	order by [AM_POST_FULL_DOB], [AM_LUNAR_MONTH_DOB]

	
GO
/****** Object:  StoredProcedure [dbo].[RetrieveConceptionPerDay]    Script Date: 3/16/2026 4:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Derek Onken (donken@uga.edu), Juan B Gutierrez (jgutierr@uga.edu)
-- Create date: 7/3/2015
-- Description:	Returns number of full term conceptions per day
-- Example:		exec RetrieveConceptionPerDay  1
-- =============================================
CREATE PROCEDURE [dbo].[RetrieveConceptionPerDay]
	@sex int 
AS
BEGIN
	select	DT_CONCEPTION, count (*) 
	from	[dbo].[natalityConf] 
	where	[IN_MALFORMATION] = '0'	
			and (AM_PLURALITY = '1' OR AM_PLURALITY = ' ' )	
			and ID_SEX = @sex
			and AM_POST_FULL_CON >= 0
			--and [ID_F_RACE] = '1'
			--and [ID_M_RACE] = '1'
			--and am_f_age in ('20', '21', '22', '23', '24', '25', '26', '27', '28', '29')
			--and am_m_age in ('20', '21', '22', '23', '24', '25', '26', '27', '28', '29')
			--and am_gestation in ('30','31','32','33','34','35','36','37','38','39','40')
	group by DT_CONCEPTION 
	order by DT_CONCEPTION
END
GO
/****** Object:  StoredProcedure [dbo].[RetrieveConceptionPostFull]    Script Date: 3/16/2026 4:58:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Derek Onken (donken@uga.edu)
-- Create date: <6/25/15>
-- Description:	<User enters number of days after full moon and sex.
--				 Procedure returns the number of conceptions per lunar month
--				 that have the entered sex and days post full.  Organized by
--				 lunar month.>
-- Example: exec RetrieveConceptionPostFull 0,1
-- =============================================
CREATE PROCEDURE [dbo].[RetrieveConceptionPostFull] 
	-- the parameters for the stored procedure
	@DAY as integer,
	@SEX as integer
AS


	select	[AM_LUNAR_MONTH_CON] AS 'LUNAR MONTH', 
			@SEX AS 'GENDER',  
			[AM_POST_FULL_CON], 
			count (*) as 'COUNT'
	from	[dbo].[natalityConf] 
	where	[IN_MALFORMATION] = '0'
			and (AM_PLURALITY = '1' OR AM_PLURALITY = ' ' ) 
			and AM_LUNAR_MONTH_CON > 0
			and AM_POST_FULL_CON = @DAY
			and ID_SEX = @SEX
			--and [ID_F_RACE] = '1'
			--and [ID_M_RACE] = '1'
			--and am_f_age in ('20', '21', '22', '23', '24', '25', '26', '27', '28', '29')
			--and am_m_age in ('20', '21', '22', '23', '24', '25', '26', '27', '28', '29')
			and am_gestation in ('30','31','32','33','34','35','36','37','38','39','40')
	group by [AM_POST_FULL_CON] , [AM_LUNAR_MONTH_CON]
	order by [AM_POST_FULL_CON], [AM_LUNAR_MONTH_CON]

	
GO
